.thumbnail{
    height: auto;
    width: 75%;
}

.thumbnail:hover {
    top:-25px;
    left:-35px;
    width:360px;
    height:auto;
    display:block;
    z-index:999;
}
.contact{
    font-size: 16px;
    color: #F2DC3A;
    text-decoration: underline;
}

nav{
    background-color: #5b73e3;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

nav li{
    text-align: center;
    list-style-type: none;
}
#slideShowImage{
    display: block;
    margin: auto;
}

nav li a{
    background-color: #5b73e3;
    text-decoration: none;
}
nav li a:link, nav li a:visited{
    background-color: #5b73e3;
    text-decoration: none;
    color: #551a8b;
}

nav li a:hover{
    background-color: #00587D;
    text-decoration: none;
    color: #551a8b;
}

nav li a:active{
    background-color: #551a8b;;
    color: #00587D;
}

body {
    background-color: #203AB0;
    color: #FFF;
    font-family: 'Saira Condensed', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    opacity: .75;
}

h1 {
    font-family: 'Oswald', 'helvetica';
    font-size: 2 em;
    font-style: bold;
}

.review {
    background-color: #3DB000;
    color: #00587D;
    display: inline-block;
    padding: 5px;
    border: 2px solid #000;
    margin: 2px;
}
.review p {
    font-style: italic;
}
.aboutUs, .contactUs, .spec, .home{
    background-image: url(images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.specstable{
    padding: 10px;
    border: 5px solid #F2DC3A;
}

#barGraph{
    display: block;
    margin: auto;
    box-shadow:1px 1px #000000aa;
}

h1,p,h2{
    padding: 10px;
}

th{
    margin: auto
}